<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google Таблицы</title>
<!--    <link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet" />-->
</head>

<body>
<table>
    <tr th:each="row, rowStat : ${table}">
        <td th:each="cell, colStat : ${row}">
            <form method="post" th:action="@{'/updateCell/' + ${rowStat.index} + '/' + ${colStat.index}}">
                <input type="text" th:value="${cell.getValue()}" name="value" onblur="this.form.submit()">
            </form>
        </td>
    </tr>
</table>
<form method="post" th:action="@{/calculateTable}">
    <button type="submit">Рассчитать таблицу</button>
</form>
</body>

</html>